:root {
  --primary-color: #5971ff;
}

html {
  color-scheme: dark;
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  height: 100dvh;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

.side_nav {
  width: 220px;
  height: 100vh;
  position: absolute;
  z-index: 100;
  background-color: rgb(51, 51, 53);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.side_nav.opened {
  transform: translateX(0);
}

.nav_btn {
  padding: 4px;
}

.header_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  /* background-color: #1a1a1a; */
}

.header_bottom {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

.header_bottom_sections {
  display: flex;
  width: 147px;
  justify-content: space-between;
  border-bottom: 1px solid #333333;
  /* align-items: center; */
  /* margin: 0 20px; */
  /* height: 40px; */
  /* background-color: #1a1a1a; */
}

.header_bottom_sections>a {
  position: relative;
  padding: 12px 0;
  color: white;
}

.active_header_section {
  position: absolute;
  background-color: white;
  padding: 0;
  height: 3px;
  width: 24px;
  bottom: 0;
  border-radius: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.header_user {
  background-color: white;
  padding: 4px;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side_nav_search {
  display: none;
}


@media screen and (min-width: 650px) {
  main {
    display: flex;
  }

  header {
    display: none;
  }

  .header_bottom {
    margin-top: 8px;
  }

  .side_nav {
    width: 220px;
    height: 100%;
    position: fixed;
    transform: translateX(0);
    background-color: transparent;
    border-right: 1px solid #333333;
  }

  .main_content {
    margin-left: 230px;
    width: calc(100% - 230px);
  }
}

@media screen and (min-width: 950px) {
  .main_content {
    width: calc(100% - 480px);
  }

  .side_nav_search {
    display: block;
    position: fixed;
    width: 250px;
    height: 100%;
    right: 0;
    background-color: rgb(51, 51, 53);
  }
}