.box iframe {
    width: 70%;
    height: 70%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
